*{
    margin: 0;
    padding: 0;
    font-family:initial;
}
html{
    overflow:hidden;
}
body{
    scroll-behavior:smooth;
    background-image: url(abstract\ background.avif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-color: rgb(30, 30, 30); */
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.portfolio{
    top: 0;
    left: 0;
    padding: 10px, 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    backdrop-filter:blur(20px);
}
.portfolio.logo{
    font-size: 20px;
    font-weight: 900px;
}
.portfolio ul{
    display: flex;
}
.portfolio ul li{
    list-style: none;
    margin-left: 39px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.portfolio ul li a{
    font-size: 20px;
    font-weight: 500;
}
.portfolio ul li:hover a{
    color: rgb(160, 218, 255);
    cursor:pointer;
}
.home{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 10% 0;
    color: white;
}
.home-info h1{
    color: rgb(207, 207, 207);
    margin-top: 50px;
    margin-left: 60px;
    font-size: 116px;
}
.home-info h1 span{
    color: #a7ecff;
}
.home-info h2{
    font-size: 25px;
    margin-left: 60px;
    margin-top: -05px;
    /* margin-top: 30px; */
    margin-bottom: 100px;
    color: #cccccc;
}
/* ---------About Me---------- */

.about h1{
    color:#d5f4ff ;
    text-decoration:underline;
    font-size:50px;
    text-align: left;
    margin-left: 30px;
}
.about p{
    color: rgb(221, 221, 221);
    font-size: 18px;
    text-align: justify;
    margin-left: 20px;
    position:absolute;
    float: left;
    width: 60%;
}
.image{
    margin-right: 50px;
    margin-top: -50px;
    float: right;
    width: 26%;
}
.image:hover{
    transform: scale(1.3);
    z-index: 2;
}


/* ------Projects-------- */

.Projects h1{
    color:#e4f9ff ;
    text-decoration:underline;
    font-size:50px;
    text-align: left;
    margin-left: 30px;
}
.Projects h2{
    margin-left: 30px;
    font-size:30px;
    font-family: 'Courier New', Courier, monospace;
    color: color-mix(in lab, #f98a8a 70%, #ff9c1a 10%);
}
.Projects p{
    color: rgb(221, 221, 221);
    font-size: 18px;
    text-align: justify;
    margin-left: 20px;
    position:absolute;
    float: left;
    width: 60%;
}
.port{
    margin-top: 30px;
    margin-right: 100px;
    float: right;
    width: 16%;
    height: 50%;
}
.port:hover{
    transform: scale(1.3);
    z-index: 2;
}
.Projects h3{
    margin-left: 30px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: color-mix(in lab, #f98a8a 70%, #ff9c1a 10%);
}
.Projects p span{
    color: rgb(111, 255, 255);
}
.polo{
    margin-right: 10px;
    margin-bottom: 10px;
    float: right;
    width: 26%;
    animation: reverse;
    animation-duration: 1.5ms;
}
.polo:hover{
    transform: scale(1.3);
    z-index: 2;
}

/* ---------Line---------- */
.Line{
    color: aliceblue;
    margin-bottom: 20px;
    margin-left: 95px;
}
.pic{
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 30px;
    margin-left: 40%;
}

.pic1{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 33px;
    margin-left: 46%;
    margin-top: -30px;
}
.pic2{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 20px;
    margin-left: 52%;
    margin-top: -28px; 
}